<mtapp:setting
    id="fjmf_install_template"
    label="<__trans phrase="Install Sample Mail Form Template">">
    <button
        type="submit"
        onclick="location.href='<mt:var name="script_uri">?__mode=fjmf_install_template_setup&amp;blog_id=<mt:var name="fjmf_blog_id">'; return false;"
        accesskey="s"
        title="<__trans phrase="Install">"
        class="primary-button"
        ><__trans phrase="Install"></button>
</mtapp:setting>
